/* Configuraciones globales: */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}

.row{
    max-width: 1140px;
    margin: 0 auto; 
}

html {
    background-color: #fff;
    color: rgb(72, 72, 72);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    font-size: 20px;
    text-rendering: optimizeLegibility;
}

section{
    padding: 90px 0;
}


/* Encabezados: */
h1{
    color:#d1d1d1;
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    letter-spacing: 4px;
    letter-spacing: 1px;
}

h2{
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin-bottom: 30px;
    letter-spacing: 1px;
}
h2:after{
    display: block;
    height: 2px;
    width: 100px;
    background-color: rgb(189, 101, 2);
    content: "";
    margin: 0 auto;
    margin-top: 30px;

}

/* home-container */

header{
    background-image: linear-gradient(rgba(0,0,0,0.705),rgba(0,0,0,0.705)),url(../image/bg.jpeg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Configuracion del logo */

#logo{
    height: 250px;
    width: auto;
    float: left;
    margin-left: 100px;
    margin-right: 50px;
}

/* nav */

.nav{
    float: right;
    list-style: none;
    margin-top: 60px;
    margin-right: 70px;


}
.nav li{
    display: inline-block;
    margin-left: 40px;

}
.nav li a{
    text-decoration: none;
    color: white;
    font-size: 90%;
    letter-spacing: 2px;
    word-spacing: 4px;
    transition: 0.5s;
}

.nav li a:hover{
    /* border-bottom: 2px solid rgb(253, 63, 5); */
    padding: 12px;
    border: solid 2px white;
    background-color: white;
    color:black;
    border-radius: 15px;

}
.nav li a:active{
    padding: 10px;
    border: solid 2px white;
    background-color: orange;
    color:white;
    border-radius: 15px;
}

/* Configuraciones particulares: */

.home-container{
    display: inline-block;
    margin-left: 50%;
    margin-top: 100px;
    letter-spacing: 1px;
    word-spacing: 3px;
    transform: translate(-50%,50%);
}

.btn{
    display: inline-block;
    padding: 10px 30px;
    font-weight: 300;
    text-decoration: none;
    border-radius: 200px;
    border: 3px solid  white;
    color:white;
    margin-right: 5px;
    font-size: 20px;
    margin-bottom: 10px;
}
.btn-more:hover{
    transition: 0.3s;
    padding: 12px 32px;
    background-color: rgb(255, 141, 10);
    color:white;
}
.btn-more:active{
    transition: 0.3s;
    padding: 8px 28px;
    background-color: rgb(189, 101, 2);
    color:black;
    border: 3px solid  black;

}
.btn-contact:hover{
    transition: 0.3s;
    padding: 12px 32px;
    background-color: rgb(255, 141, 10);
    color:white;
}
.btn-contact:active{
    transition: 0.3s;
    padding: 8px 28px;
    background-color: rgb(189, 101, 2);
    color:black;
    border: 3px solid  black;

}
/*Section Description */
.text-content{

    line-height: 145%;
    width: 70%;
    margin-left: 12%;
}



